@font-face {
    font-family: 'Playfair Display';
    src: url(./fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Hind Vadodara';
    src: url(./fonts/HindVadodara-Regular.ttf);
}

*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    position: relative;
    margin: 0;
}

@media screen and (max-width: 768px){
    header ul{
        gap: 10px !important;
        align-items: flex-start !important;
    }
    header p{
        width: 100% !important;
    }
    .media_logos{
        width: 100% !important;
    }
    .random_shape{
        display: none !important;
    }
    .section1_container{
        margin-top: 3rem !important;
    }
    #h1{
        font-size: 28px !important;
    }
    .dotted_circle1{
        display: none !important;
    }
    .dotted_circle2{
        display: none !important;
    }
    .dotted_circle3{
        display: none !important;
    }
    .h1_span2::after{
        bottom: 7px !important;
        height: 7px !important;
    }
    .section1_body button{
        width: 100% !important;
    }
    .section2{
        margin-top: 3rem !important;
    }
    .section2_container{
        width: 100% !important;
    }
    #sec2-h2{
        font-size: 28px !important;
        text-align: left !important;
        margin-bottom: 20px !important;
        padding-left: 24px !important;
    }
    .main_carousel{
        margin: 0 !important;
    }
    .slide_arrows{
        width: 100% !important;
        left: 0 !important;
        top: 390px !important;
        justify-content: center !important;
    }
    .carousel1{
        width: fit-content !important;
    }
    #media_logos1{
        display: flex !important;
    }
    #media_logos{
        display: none !important;
    }
    .section3{
        margin-top: 3rem !important;
    }
    .section3_description{
        margin: 0 !important;
    }
    .section3_description h2{
        margin-top: 0 !important;
    }
    .section3_description button{
        width: 100% !important;
        margin-top: 15px !important;
    }
    .section4{
        margin-top: 3rem !important;
    }
    .section4_body{
        width: 100% !important;
        height: 400px !important;
    }
    .section4-description p{
        width: fit-content !important;
    }
    #sec4-h2{
        font-size: 28px !important;
        margin-bottom: 20px !important;
    }
    .slide_arrows2{
        width: 100% !important;
        left: 0 !important;
        justify-content: center;
    }
    .carousel2{
        width: fit-content !important;
    }
    .section5{
        margin-top: 3rem !important;
    }
    .section5 h2{
        font-size: 28px !important;
    }
    .client-box{
        width: fit-content !important;
    }
    .first-box{
        margin-bottom: 20px !important;
    }
    footer p{
        width: fit-content !important;
    }
    footer iframe{
        margin-top: 0 !important;
        width: fit-content !important;
    }
    footer input{
        margin-bottom: 20px !important;
    }
    .map{
        padding: 0 !important;
        text-align: center;
    }
}


header p{
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    font-weight: 600;
    color: #331B3B !important;
}
header ul{
    gap: 30px;
    align-items: center;
}
header div{
    flex-grow: 0 !important;
}
.links{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #331B3B;
    text-decoration: none;
    position: relative;
}
.links:hover{
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

.links::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #FFDC60;
    transition: all .2s;
}
.links:hover::before{
    width: 100%;
}

header button{
    background-color: grey !important;
}
.log{
    width: 43.61px;
    height: 49.61px;
    border: 2px solid rgba(51, 27, 59, 0.64);
    transform: rotate(30.5deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log img{
    transform: rotate(-30.5deg);
}
.random_shape{
    top: -30px;
    right: -30px;
}
.media_logos1{
    display: none;
}

.section1_container{
    margin-top: 100px;
}
h1{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300 !important;
    font-size: 87px !important;
    line-height: 99.8% !important;
    letter-spacing: -0.01em;
    color: #331B3B;
    cursor: pointer;
    margin-bottom: 27px;
}
.h1_span1{
    font-weight: 700 !important;
}
.h1_span2{
    position: relative;
}

.h1_span2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 29px;
    width: 96%;
    height: 17px;
    background-color: #FFDC60;
    transition: all .2s;
    z-index: -1;
}

.section1_body p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
    margin-bottom: 31px;
}
.section1_body button{
    width: 207px;
    height: 66px;
    background: #331B3B;
    border-radius: 10px;
    border: none;

    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 137.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.dotted_circle1{
    width: 581px;
    height: 498px;
    border: 2px dashed #000000;
    border-radius: 50%;
    margin-left: 100px;
}
.shape1{
    right: 10%;
    top: -120px;
}
.boys{
    top: -50px;
    right: -150px;
}

.section2{
    margin-top: 100px;
    padding: 0 !important;
    position: relative;
}
.section2_container{
    background-color: #ECF7FF;
    border-radius: 0px 400px 0px 0px;
    width: 1293px;
    padding-top: 92px;
    padding-bottom: 97px;
}
.section2_container h2{
    margin: 0 !important;
    margin-bottom: 95px !important;
    text-align: center;

    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 106.3%;
    letter-spacing: -0.01em;
    color: #331B3B;
}
.h2-span1{
    font-weight: 700 !important;
}
.h2-span2{
    position: relative;
    z-index: 1;
}
.h2-span2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width: 96%;
    height: 10px;
    background-color: #FFDC60;
    transition: all .2s;
    z-index: -1;
}

.main_carousel{
    width: 100%;
    position: unset !important;
    margin-left: 265px;
}
.secondary_carousel{
    position: unset !important;
}
.carousel1{
    width: 308px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
}
.carousel1 h3{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 137.3%;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #331B3B;
}
.carousel1 p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 145.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
}

.little_box1{
    width: 52px;
    height: 48px;
    background: #FFDED4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.little_box2{
    width: 52px;
    height: 48px;
    background: #FFEED4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.little_box3{
    width: 52px;
    height: 48px;
    background: #D4F0FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.little_box4{
    width: 52px;
    height: 48px;
    background: #FFD4D4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.slide_arrows{
    width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 160px;
    top: 450px;
    z-index: 1;
}
.arrow{
    position: unset !important;
    width: 35px !important; 
    height: 35px !important;
    border-radius: 50% !important;
    background-color: transparent;
    border: 2px solid black !important;
}
.arrow span{
    filter: invert(100%);
    width: 20px !important;
    height: 20px !important;
}
.dotted_circle2{
    position: absolute;
    width: 532px;
    height: 498px;
    border-radius: 50%;
    border: 2px dashed rgba(0, 0, 0, 0.26);
    z-index: -1;
    right: -30px;
    bottom: -74px;
}

.section3{
    margin-top: 164px;
}
.dotted_circle3{
    height: 598px;
    border: 2px dashed #000000;
    border-radius: 50%;
    position: relative;
}
.friends{
    position: absolute;
    top: -240px;
    left: -50px;
}

.section3_description{
    text-align: left;
    margin-left: 100px;
}
.section3 h2{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 106.3%;
    letter-spacing: -0.01em;
    color: #331B3B;
    margin-top: 100px;
    margin-bottom: 22px;
}
.sec3-span1{
    font-weight: 700;
}
.sec3-span2{
    position: relative;
}
.sec3-span2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width: 100%;
    height: 10px;
    background-color: #FFDC60;
    transition: all .2s;
    z-index: -1;
}
.section3 p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
}

.section3_description button{
    width: 207px;
    height: 66px;
    background: #331B3B;
    border-radius: 10px;
    border: none;
    margin-top: 37px;

    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 137.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section4{
    margin-top: 100px;
    position: relative;
}
.section4 h2{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300 !important;
    font-size: 48px !important;
    line-height: 106.3%;
    letter-spacing: -0.01em;
    color: #331B3B;
    margin-top: 42px;
}
.sec4-span1{
    font-weight: 700;
}
.sec4-span2{
    position: relative;
}
.sec4-span2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width: 100%;
    height: 10px;
    background-color: #FFDC60;
    transition: all .2s;
    z-index: -1;
}
.section4-description p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: #331B3B;
    margin-top: 53px;
    width: 515px;
}

.section4_body{
    position: absolute;
    width: 1244px;
    height: 673px;
    right: 0;
    top: auto;
    background: rgba(255, 222, 212, 0.3);
    border-radius: 0px 400px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.carousel2{
    width: 419px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 22px 13px 0px 13px;
}
.carousel2 h3{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 146.3%;
    color: #331B3B;
    margin: 0 !important;
}
.carousel-button{
    width: 92px;
    height: 23px;
    text-align: center;
    border: 1px solid #343434;
    border-radius: 100px;
    background-color: transparent;

    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 146.3%;
    color: #331B3B;
}

.slide_arrows2{
    width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 300px;
    bottom: -50px;
    z-index: 1;
}

.section5{
    margin-top: 150px;
}
.section5 h2{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 110.8%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #331B3B;
}

.sec5-span1{
    font-weight: 700;
}
.sec5-span2{
    position: relative;
}
.sec5-span2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width: 100%;
    height: 10px;
    background-color: #FFDC60;
    transition: all .2s;
    z-index: -1;
}

.client-box{
    width: 448px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    padding: 24px 35px 39px 19px;
}
.first-box{
    margin-left: auto;
}
.client-box p{
    margin-top: 30px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    color: #331B3B;
}
.line{
    width: 11px;
    height: 2px;
    border: 3px solid #FDC221;
}
.client-box h4{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
}

footer{
    margin-top: 92px;
    background: #000000;
    border-radius: 0px 158px 0px 0px;
}
footer h2{
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 66px;
}
footer p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 439px;
}
footer h5{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer input{
    width: 263px;
    border: 1px solid #FFFFFF;
    padding: 13px;
    background-color: inherit;
    outline: 0;
    margin-bottom: 105px;
    color: white;
}
::placeholder{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer button{
    width: 143px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;

    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}
footer iframe{
    width: 484px;
    height: 300px;
    margin-top: 77px;
}